*
{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body#primary{
    background-color: #eee;
    text-align: center;
 }
header
 {
    background: url("../img/blue-wave.png") repeat-x;
    padding-top: 80px;
    background-color: #fff;
 }
#main-header-text
{
    font-size: 4.5em;
    text-align: center;
    margin: 25px auto;
    background-color: #fff;
    color: black;
}
#main-header-text:hover
{
    text-decoration: none;
}
.aqua
{
    color: #3A93FF;
}
.gray
{
    color: gray;
}
.white
{
    color: white;
}
.primary-header-text
{
    display: block;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.secondary-header-text
{
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#main-menu
{
    width: 100%;
    text-align: center;
    clear: both;
    margin: 0 auto;
}
.navbar{
    z-index: 999999;
    min-width:505px;
    width: 1000px;
    height: 100px;
    border-spacing: 0px;
    margin-bottom: 0;
    clear: both;

}

.navbar>li{
    line-height: 100px;
    text-align: center;
    display:block;
    width: calc(20% - 1px);
    min-width: 100px;
    float: left;
    list-style-type: none;
    list-style-position: inside;
    margin-right: 1px;
    padding: 0px;
    height: 100%;
    background: url(../img/menu-blue-wave.png) repeat-x;
    -webkit-transition: ease 1s ;
    -moz-transition: ease 1s ;
    -ms-transition: ease 1s ;
    -o-transition: ease 1s ;
    transition: ease 1s ;
    background-color: #3A93FF;
}
.navbar>li:hover
{
    background-color: aqua;
}
#main-content-wrapper
{
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
}
#main-content-actually
{
    background-color: #fff;
    width: 100%:
}
#socials
{
    display: block;
    padding: 0;
    height: 200px;
    background-color: #eee;
    overflow: hidden;
}
#socials-placeholder
{
    margin-top: 50px;
}
.social-pic-item
{
    display: inline-block;
    line-height: 80px;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-width: 0;
    border-radius: 50%;
    background-color: #999;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}
.social-pic-item:hover
{
    background-color: #3A93FF;
}
.social-pic-item>img
{
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.inside-controls-text
{
    color: white;
}
footer
{   height:100px;
    width:100%;
    background-color: #eee;
    background: url("../img/gray-wave.png") repeat-x;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
}
form textarea
{
    height: 400px;
}
#reg-form *
{
    margin-left: 0px;
    display: block;
}
#reg-form input, #reg-form textarea
 {

     border: 1px solid gray;
     background-color: #eee;
     line-height: 16px;
     height: 20px;
     margin-bottom: 10px;
     resize: none;
     max-width: 400px;
 }
div.buttons.row
{
    margin-left: 0;
}
#reg-form textarea
{
    height: 400px;
}

 .form-button {
    display: block;
    background-color: #3A93FF;
    border: none;
    vertical-align: middle;
    margin: 10px;
    width: 100px;
    height: 40px;
    padding-top: 15px;
    cursor: pointer;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}

.form-button:hover
{
    background-color: #3E454C;
    text-decoraton: no-underline;
    color: white;
    vertical-align: middle;
}
dl.span3
{
    margin-top: 10px;
}
dd>span{
    display: inline-block;
    width: 80px;
    float: left;
    text-align: left;
}
#anchor-button
{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    bottom: 60px;
    right: 8%;
    position: fixed;
    display: block;
    z-index: 999;
    background-color: #fff;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    opacity: .7;
}
#anchor-button img
{
    vertical-align: top;
}
#anchor-button:hover
{
    background-color: #3A93FF;
    opacity: 1;
}
#anchor-button, #anchor{
    display: none;
}
ul.submenu
{
    display: none;
    background-color: transparent;
    height: 50px;
    margin-top: 50px;
}
ul.submenu>li{
    line-height: 50px;
    text-align: center;
    display:block;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    background-color: #3A93FF;
    -webkit-transition: ease 1s ;
    -moz-transition: ease 1s ;
    -ms-transition: ease 1s ;
    -o-transition: ease 1s ;
    transition: ease 1s ;
}
.pointed
{
    cursor: pointer;
}
ul.submenu>li>a{
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}
ul.submenu>li:hover > a
{
    color: #3D454B;
}
ul.submenu2
{
    display: none;
    position: absolute;
    padding:0;
    height: 50px;
    margin-left: 200px;
    margin-top: -40px;
}
ul.submenu2>li
{
    line-height: 50px;
    text-align: center;
    display:block;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    width: 150px;
    height:75%;
    background-color:#3D454B;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}
#menu-trigger:hover > ul.submenu
{
    display: block;
}
#menu-trigger2:hover > ul.submenu2
{
    display: block;
}
#content
{
    background-color: #fff;
}
.menu-btn
{
    padding: 0;
    height: 50%;
    display: block;
}
.menu-btn:hover
{
    background-color: transparent;
    text-decoration: none;
    color: white;
    padding: 0;
    /*background-color:  #3A93FF;*/
   /*color: white;*/
}
.submenu2>li>a
{
    font-size: 0.8em;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}
.submenu2>li>a:hover
{
    color: aqua;
}
#map-actually
{
    width: 100%;
}