<div class="container">

  <div class="row">

    <div class="span11">

      <div class="span6">

        <h3 class="text-uppercase text-left">our blog</h3>

        <div class="fish-content">

          <div class="text-left">
            <p><time datetime="2013-01-01">
              29 feb 2013
            </time></p>
            <div>
              <div>
                <a href="#"><h4>Lorem ipsum dolor sit amet consectetuer</h4></a>
              </div>
              <p>
                Posted by <a href="#">admin</a><a href="#" class="pull-right">9 comments</a>
              </p>
            </div>
            <div class="clearfix"></div>
            <img class="pull-left" src="../img/page4_img1.jpg" alt="">
            <p class="span2">
              Mes cuml dia sed in lorem lacus utem eniascet ingerto aliiqt es site amet eismod ictor ut dolore ligulate ameti dapibus ticdu numet mtsen lusto dolor ltissim comes cudia sed inertio lacusueni ascet dolingerto aliiqt sit amet eism com odictor ut ligulate cot ameti dapibu.
              <br>
              <a href="#" class="btn fish-link pull-right">more</a>
            </p>
            <div class="clearfix"></div>
          </div>

          <div class="text-left">
            <p><time datetime="2013-01-01">
              28 feb 2013
            </time></p>
            <div>
              <div>
                <a href="#"><h4>Sed ut perspiciatis unde omnis iste natus</h4></a>
              </div>
              <p>
                Posted by <a href="#">admin</a><a href="#" class="pull-right">9 comments</a>
              </p>
            </div>
            <div class="clearfix"></div>
            <img class="pull-left" src="../img/page4_img2.jpg" alt="">
            <p class="span2">
              Mes cuml dia sed in lorem lacus utem eniascet ingerto aliiqt es site amet eismod ictor ut dolore ligulate ameti dapibus ticdu numet mtsen lusto dolor ltissim comes cudia sed inertio lacusueni ascet dolingerto aliiqt sit amet eism com odictor ut ligulate cot ameti dapibu.
              <br>
              <a href="#" class="btn fish-link pull-right">more</a>
            </p>
            <div class="clearfix"></div>
          </div>

          <div class="text-left">
            <p><time datetime="2013-01-01">
              27 feb 2013
            </time></p>
            <div>
              <div>
                <a href="#"><h4>Ut enim ad minima veniam quis nostrum</h4></a>
              </div>
              <p>
                Posted by <a href="#">admin</a><a href="#" class="pull-right">9 comments</a>
              </p>
            </div>
            <div class="clearfix"></div>
            <img class="pull-left" src="../img/page4_img3.jpg" alt="">
            <p class="span2">
              Mes cuml dia sed in lorem lacus utem eniascet ingerto aliiqt es site amet eismod ictor ut dolore ligulate ameti dapibus ticdu numet mtsen lusto dolor ltissim comes cudia sed inertio lacusueni ascet dolingerto aliiqt sit amet eism com odictor ut ligulate cot ameti dapibu.
              <br>
              <a href="#" class="btn fish-link pull-right">more</a>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>

      <div class="span4 text-left">
        <h3 class="text-uppercase">categories</h3>
        <ul>
          <li>
            <a href="#">rutrum justo rhoncus eget </a>
          </li>
          <li>
            <a href="#">porttitor nibh Quisque vitae</a>
          </li>
          <li>
            <a href="#">nec purus dignissim lobortis</a>
          </li>
          <li>
            <a href="#">Praesent ante eros, varius in </a>
          </li>
          <li>
            <a href="#">nibh sed vulputate consectetur </a>
          </li>
          <li>
            <a href="#">nisi Curabitur at sodales </a>
          </li>
          <li>
            <a href="#">libero. Fusce sit amet metus </a>
          </li>
          <li>
            <a href="#">eros Pellentesque eros lorem </a>
          </li>
          <li>
            <a href="#">facilisis laoreet felis nec </a>
          </li>
          <li>
            <a href="#">volutpat viverra lacus In </a>
          </li>
          <li>
            <a href="#">placerat adipiscing posuere </a>
          </li>
          <li>
            <a href="#">Proin rutrum sapien et est </a>
          </li>
        </ul>
        <h3 class="text-uppercase">archives</h3>
        <ul>
          <li>
            <a href="#">February 2014</a>
          </li>
          <li>
            <a href="#">January 2014</a>
          </li>
          <li>
            <a href="#">December 2013</a>
          </li>
          <li>
            <a href="#">November 2013</a>
          </li>
          <li>
            <a href="#">October 2013</a>
          </li>
          <li>
            <a href="#">September 2013</a>
          </li>
          <li>
            <a href="#">August 2013</a>
          </li>
          <li>
            <a href="#">July 2013</a>
          </li>
          <li>
            <a href="#">June 2013</a>
          </li>
          <li>
            <a href="#">May 2013</a>
          </li>
          <li>
            <a href="#">April 2013</a>
          </li>
          <li>
            <a href="#">March 2013</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
  
  <div class="clearfix"></div>
