<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" href="../../assets/stylesheets/main.scss">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/slider-setings.js"></script>
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/javascripts/main.coffee"></script>
<title></title>
</head>
<body id="primary">
<a name="hat" class="anchor"></a>
<header>
<a id="main-header-text"> <span class="aqua">AQUA</span>RIUM </a>
<navbar id="main-menu">
<ul class="navbar center-block text-center">
<li class="aqua ajax"><a class="white text-uppercase menu-btn">About us</a> </li>
<li class="aqua ajax"><a class="white text-uppercase menu-btn">Products</a>  </li>
<li class="aqua dropdown ajax" id="menu-trigger1">
<a class="white text-uppercase menu-btn dropdown-toggle" data-toggle="dropdown">Gallery</a>
<ul class="submenu">
<li class="aqua"><a class="white text-uppercase menu-btn">Position 1</a></li>
<li class="dropdown" id="menu-trigger2"><a class="white text-uppercase menu-btn">Position 2</a>
<ul class="submenu2">
<li class="aqua dropdown"><a class="white text-uppercase menu-btn submenu2">Position 2.1</a></li>
<li class="aqua dropdown"><a class="white text-uppercase menu-btn">Position 2.2</a></li>
<li class="aqua dropdown"><a class="white text-uppercase menu-btn">Position 2.3</a></li>
</ul>
</li>
<li class=" aqua"><a class="white text-uppercase menu-btn">Position 3</a></li>
</ul>
</li>
<li class="aqua ajax"><a class="white text-uppercase menu-btn">Blog</a>  </li>
<li class="aqua ajax"><a class="white text-uppercase menu-btn">Contacts</a>  </li>
</ul>
</navbar>
</header>
<div id="content">
<div class="fluid_container" id="slider-container">
<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
<div data-thumb="../img/slides/slide-mini.jpg" data-src="../img/slides/slide.jpg"></div>
<div data-thumb="../img/slides/slide1-mini.jpg" data-src="../img/slides/slide1.jpg"></div>
<div data-thumb="../img/slides/slide2-mini.jpg" data-src="../img/slides/slide2.jpg"></div>
</div>
<div class="clear"></div>
<div class="fish-decor-slider"></div>
</div>
<div id="main-content-wrapper" class="container12">
<div class="row center-block" id="main-content-actually">
</div>
</div>
<div class="clear"></div>
<div class="row text-center" id="socials">
<div id="socials-placeholder" class="text-center">
<div class="pointed social-pic-item" id="facebook">
<img src="/images/facebook.png" alt="facebook">
</div>
<div class=" pointed social-pic-item" id="twitter">
<img src="/images/twitter.png" alt="twitter">
</div>
<div class=" pointed social-pic-item" id="google-plus">
<img src="/images/googleplus.png" alt="google+">
</div>
<div class=" pointed social-pic-item" id="instagram">
<img src="/images/instagram.png" alt="instagramm">
</div>
</div>
</div>
 </div>
<footer>
<div id="anchor-button"><a href="#hat"><img src="/images/anchor.png" alt=""/></a></div>
<span id="footer-text"> Жак-Ив Кусто, 1999. <a href="#"
onclick="AjaxRequest( 'main-content-actually', '/views/main/privacy-policy.html' ); $('#slider-container').hide();">
Лицензионное соглашение </a></span>
</footer>
</body>
</html>